nav {
    a {
        text-transform: capitalize;
    }
    a:hover {
        color: #ccc;
    }
    a[data-slot] {
        background-color: transparent;
    }
    button {
        background-color: transparent;
    }
    li[data-slot=navigation-menu-item]:first-child{
        width: 30px;
    }
}